version: "3.9"

services:
  stg-service:
    build:
      context: ./service_stg
      network: host
    image: stg_service:local
    container_name: stg_service_container
    environment:
      FLASK_APP: ${STG_SERVICE_APP_NAME:-stg_service}
      DEBUG: ${STG_SERVICE_DEBUG:-True}

      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      KAFKA_USER: ${KAFKA_USER}
      KAFKA_WORD: ${KAFKA_WORD}
      KAFKA_GROUP: ${KAFKA_GROUP}
      KAFKA_SRC_TOPIC: ${KAFKA_SRC_TOPIC}
      KAFKA_DST_TOPIC: ${KAFKA_DST_TOPIC}

      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_WORD: ${REDIS_WORD}
      
      BASE_HOST: ${BASE_HOST}
      BASE_PORT: ${BASE_PORT}
      BASE_NAME: ${BASE_NAME}
      BASE_USER: ${BASE_USER}
      BASE_WORD: ${BASE_WORD}

    network_mode: "bridge"
    ports:
      - "5011:5000"
    restart: unless-stopped
